section {
  display: table;
}

.example-label {
  display: table-cell;
  min-width: 120px;
  margin-left: 8px;
  font-size: 14px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row .sim-button-base {
  margin: 8px 8px 8px 0;
}

.example-button-row .sim-link-button {
  margin: 8px 16px 16px 0;
}

.example-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
