.doc-three-different-types {
  display: flex;
  margin-bottom: 16px;
  .doc-figure {
    width: 280px;
    margin-right: 12px;
    margin-left: 12px;
  }
}

.doc-placement {
  display: flex;
  margin-bottom: 16px;
  .doc-figure {
    width: 400px;
    margin-right: 12px;
    margin-left: 12px;
  }
}

.doc-colors {
  display: flex;
  margin-bottom: 16px;
  .doc-figure {
    width: 900px;
    margin-right: 12px;
    margin-left: 12px;
  }
}

.sim-button-group + .sim-button-group {
  margin-left: 16px;
}
