/// 全局使用的默认字体大小
$doc-browser-context: 14px;
$doc-browser-line-height: 1.5715;

// 大标题颜色
$doc-headline-text: #465568;
// 侧边栏一级标题
$doc-subheading1-text: #a4b1ce;
// 侧边栏二级标题
$doc-subheading2-text: #798192;
